
#app {
  max-width: 1024px;
  margin: auto;
}

.titled-value {
  display: inline-block;
  text-align: center;
  width: 128px;
  float: left;
  padding: 4px;
  &:hover {
    background: #eee;
  }
  .title {
    font-size: 14px;
  }
  .value {
    &.overflow {
      color: #ff5656;
    }
    font-size: 28px;
  }
}

.progress-bar {
  display: inline-block;
  width: 100px;
  height: 10px;
  .value {
    height: 100%;
    background: #73b9ff;
  }
  border: 1px #b0b0b8 solid;
  box-sizing: border-box;
  background: white;
}

.issue, .member {
  > .spentHours, .estimateHours, .capacity {
    width: 30px;
  }
}

.progress-bar {
  .value {
    max-width: calc(100% + 12px);
  }
}

//.progress-value-first {
//  background: #73b9ff;
//}

.progress-value-second {
  background: #8284ff !important;
}

.progress-value-third {
  background: #1B1721 !important;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard {
  //max-width: 800px;
  .total {
    height: 70px;
    .big-progress {
      width: calc(100% - 3 * 136px - 16px - 8px - 30px - 8px);
      //width: 100%;
      height: 30px;
      margin: 16px 0 0 16px;
    }
    .refresh {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 16px;
      cursor: pointer;
      border: #999999 1px solid;
      box-sizing: border-box;
      border-radius: 2px;
      &:hover {
        background: #eee;
      }
      .refresh-icon {
        padding: 2px;
        width: 24px;
        height: 24px;
        display: block;
        transform: rotate(0deg);
        &.refreshing {
          transition-delay: 0.5s;
          transition-duration: 0.5s;
          animation: rotating 2s linear infinite;
        }
      }
    }
  }
  .toolbar {
  }
  .members {
    .table {
      border-collapse: collapse;
      td {
        outline: none;
        padding: 0 0 0 8px;
      }
      th {
        padding-left: 10px;
      }
      .member, .issue {
        &:first-child {
          border-top: 1px #cccccc solid;
        }
        border-bottom: 1px #cccccc solid;
        &:hover {
          background: #eee;
        }
      }
      .member {
        font-size: 18px;
        .avatar {
          width: 24px;
          height: 24px;
          margin: 4px 4px 0 4px;
        }
        .member-state {
          width: 30px;
          border-radius: 3px;
          box-sizing: border-box;
          text-align: center;
          margin-left: 20px;
        }
        .member-progress {
          width: calc(100% - 24px);
          height: 20px;
          margin: 4px 0 0 4px;
        }
      }
      .issues-header {
        display: none;
      }
      .issue {
        font-size: 16px;
        .link {
          text-align: right;
          display: block;
        }
        .issue-progress {
          width: calc(100% - 24px - 35px);
          margin: 4px 0 0 calc(35px + 4px);
        }
        .issue-state {
          padding-left: 6px;
          border-radius: 4px;
          &.issue-state-opened {
            background: #d2d7ff;
          }
          &.issue-state-reopened {
            background: #fff9d2;
          }
          &.issue-state-closed {
            background: #d5ffd2;
          }
        }
      }
    }
  }
}

