
.titled-value {
  display: inline-block;
  text-align: center;
  width: 128px;
  float: left;
  padding: 4px;
  &:hover {
    background: #eee;
  }
  .title {
    font-size: 14px;
  }
  .value {
    &.overflow {
      color: #ff5656;
    }
    font-size: 28px;
  }
}

.progress-bar {
  display: inline-block;
  width: 100px;
  height: 10px;
  .value {
    height: 100%;
    background: #73b9ff;
  }
  border: 1px #b0b0b8 solid;
  background: white;
}

.issue, .member {
  > .spentHours, .estimateHours, .capacity {
    width: 30px;
  }
}

//.progress-value-first {
//  background: #73b9ff;
//}

.progress-value-second {
  background: #8284ff !important;
}

.dashboard {
  max-width: 800px;
  .total {
    height: 70px;
    .big-progress {
      width: 300px;
      height: 30px;
      margin: 16px 0 0 46px;
    }
  }
  .toolbar {
    .refresh {
    }
  }
  .members {
    .table {
      border-collapse: collapse;
      td {
        outline: none;
      }
      .member, .issue {
        &:first-child {
          border-top: 1px #cccccc solid;
        }
        border-bottom: 1px #cccccc solid;
        &:hover {
          background: #eee;
        }
      }
      .member {
        font-size: 18px;
        .table-header-wrapper {
          display: none;
        }
        .avatar {
          width: 24px;
          height: 24px;
          margin: 4px 4px 0 4px;
        }
        .member-progress {
          width: 200px;
          height: 20px;
          margin: 4px 16px 0 0;
        }
        .issue {
          font-size: 16px;
          .link {
            width: 46px;
            text-align: right;
            display: block;
          }
          .issue-progress {
            width: 164px;
            margin-left: 35px;
          }
        }
      }
    }
  }
}

